<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须与接口的全类名一致 -->
<mapper namespace="com.yy.mapper.UserMapper">
	<!-- id必须和mapper接口对应的功能名称一致 ，此处只写save功能 -->
	<insert id="save" parameterType="User">
		insert into user(nickname,
		username, password,salt,roleid,mobile,email)
		values(#{nickname},#{username},#{password},#{salt},#{roleid},#{mobile},#{email})
	</insert>
	<select id="findById" parameterType="Integer" resultType="User">
		select
		*
		from user where id = #{id}
	</select>
	<select id="findByUserName" parameterType="String" resultType="User">
		select * from user where username = #{username}
	</select>
	<delete id="delete" parameterType="User">
		delete from user where id =
		#{id}
	</delete>
	<update id="update" parameterType="User">
		update user set
		username=#{username}
		<if test='nickname != null'>
			,nickname=#{nickname}
		</if>
		<if test='roleid != 0'>
			,roleid= #{roleid}
		</if>
		<if test='password != null'>
			,password= #{password}
		</if>
		<if test='salt != null'>
			,salt= #{salt}
		</if>
		<if test='mobile != null'>
			,mobile= #{mobile}
		</if>
		<if test='email != null'>
			,email= #{email}
		</if>
		where id = #{id}
	</update>
	<select id="getUserListByLimit" resultType="User">
	select
	user.id,user.userName,user.nickname,user.roleid,user.mobile,user.email
	from user
	where id != 1
		<if test='username != null'>
			and userName like '%${username}%'
		</if>
	</select>

	<delete id="deleteUserList" parameterType="java.util.List">
		delete from user
		where id in
		<foreach item="param" collection="list" open="(" close=")"
			separator=",">
			#{param.id}
		</foreach>
	</delete>

	<select id="findRoleByUser" parameterType="User" resultType="java.lang.String">
		select role from
		role,user
		where user.roleid = role.id and user.id = #{id}
	</select>

</mapper>  